# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
venv/
env/
ENV/
.venv/

# Flask/Debug files
instance/
*.log

# IDE/editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Python egg info
*.egg-info/
.eggs/

# Pip tools
pip-log.txt
pip-delete-this-directory.txt

# Distribution / packaging
build/
dist/
*.egg
MANIFEST

# Coverage / testing
.coverage
.tox/
nosetests.xml
coverage.xml
htmlcov/

# Render/Deploy tools
*.sqlite3
*.db*

